html, body {
  height: 100%;
  margin: 0; /* reset */
  padding: 0; /* reset */
}

.contact {
  text-align: center; /* Center text */
  flex-direction: column;
  align-items: center; /* Center flex items */
  padding: 20px;
  max-width: 600px; /* Set a max width for the box */
  margin: 0 auto; /* Center the box */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-color: #fff; /* Optional: background color */
  border-radius: 20px;
}

.contact h1, .contact p, .contact form {
  text-align: left; /* Align text to the left */
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact form input, .contact form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .contact form {
    grid-template-columns: 1fr;
  }
}
