.project {
  background: white;
  border: 1px solid #192841; /* Blue border */
  padding: 10px; /* Reduced padding */
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds subtle shadow */
}

.project h3 {
  margin-top: 0;
  margin-bottom: 5px; /* Reduced bottom margin for title */
}

.project img {
  display: block;
  width: 100%; /* Ensure image takes full width */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 5px; /* Reduced bottom margin for image */
}

.project p, .project a {
  margin-top: 0;
  margin-bottom: 5px; /* Reduced bottom margin for paragraphs and links */
  font-size: 0.9em; /* Optional: adjust font size */
}